body{
    background-color: rgb(240, 213, 177);
    margin: 0;  
    padding: 0;
}

.header {
    height: 50px;
    width: auto;
    background-color: rgb(201, 180, 123);
    text-align: center;
    line-height: 50px;
    color: white;
    font-size: 30px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}